[Unit]
Description=stat service
After=network-online.target

[Service]
ExecStart=/home/pi/stats_lcd/run_stats.sh

[Install]
WantedBy=multi-user.target